@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes marquee {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  .animate-marquee-logo {
    animation: marquee 25s linear infinite;
  }


  ::-webkit-scrollbar {
    width: 8px;
    background-color: #ffffff00;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #830dd2;
    border-radius: 10px;
    border: 1px solid #830dd2;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #370054;
  }